<% include partials/header %>
<form name="test" action="/conference/" method="post">
<div id="content">
 <section id="join-wrap">
  <p>영상회의를 시작하시겠습니까?</p>
  <input type = "text" name= "username"id = "userInput" 
         class ="form-control formgroup" placeholder ="user명" required="" autofocus = "">
  <button id="start" type="submit" > Start</button>
 </section>
 </form>

<% include partials/footer %>
